<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speedo Transfer - Money Transfer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <main class="container mx-auto my-10 p-6 bg-white shadow-lg">
      <h1 class="text-3xl font-semibold mb-6 text-#871220-600">
        Money Transfer
      </h1>
      <div>
        <img
          src="/pics/Group 14 (1).png"
          alt="Money Step 3"
          class="w-16 h-16"
        />
      </div>
      <div>
        <img src="/pics/Group 16.png" alt="Confirmation" class="w-16 h-16" />
      </div>
      <div class="bg-grey-100 p-6 rounded-lg text-center">
        <div class="text-xl text-gray-600 mb-4">
          Your transfer was successful
        </div>
        <div class="text-5xl font-bold text-rgb(98, 18, 32) -600 mb-4">
          48.4220 EGP
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="p-4 bg-gray-50 rounded-lg shadow">
            <h2 class="text-lg font-semibold text-gray-700">From</h2>
            <p class="text-gray-600">Jonathon Smith</p>
            <p class="text-gray-600">Account no: 5006</p>
          </div>
          <div class="p-4 bg-gray-50 rounded-lg shadow">
            <h2 class="text-lg font-semibold text-gray-700">To</h2>
            <p class="text-gray-600">Amrna Desuky</p>
            <p class="text-gray-600">Account no: 3025</p>
          </div>
        </div>

        <div class="mt-6">
          <button
            class="px-4 py-2 bg-red-800 text-white rounded-lg shadow-md hover:bg-grey-2000"
          >
            Back to Home
          </button>
          <button
            class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg shadow-md hover:bg-gray-300 ml-2"
          >
            Add to Favorites
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
