<ul class="w-[293px] h-[718px] flex flex-col border-r bg-[#FAFBFB]">
  <li class="w-[293px] h-[59px] border-b p-4 gap-[10px] bg-primary/p300">
    <a class="text-Gray/G50 font-semibold text-[18px] leading-7">
      My Profile
    </a>
  </li>
  <li
    (click)="navigateToPaymenthistory()"
    class="w-[293px] h-[59px] border-b p-4 cursor-pointer gap-[10px] hover:bg-gray-400 transition-all"
  >
    <a
      routerLink="/account/paymenthistory"
      routerLinkActive="active"
      class="text-[#4B4B4B] font-medium text-[16px] leading-7"
    >
      Payment history
    </a>
  </li>
  <li
    (click)="navigateToSettings()"
    class="w-[293px] h-[59px] border-b p-4 gap-[10px] cursor-pointer hover:bg-gray-400 transition-all"
  >
    <a class="text-[#4B4B4B] font-medium text-[16px] leading-7">Settings</a>
  </li>
  <li
    (click)="navigateToChangepassword()"
    class="w-[293px] h-[59px] border-b p-4 gap-[10px] cursor-pointer hover:bg-gray-400 transition-all"
  >
    <a class="text-[#4B4B4B] font-medium text-[16px] leading-7">
      Change Password
    </a>
  </li>
</ul>
