<div class="w-[293px] h-[718px] flex flex-col border-r bg-[#FAFBFB]">
  <div class="w-[293px] h-[59px] border-b p-4 gap-[10px] bg-primary/p300">
    <div class="text-Gray/G50 font-semibold text-[18px] leading-7">
      My Profile
    </div>
  </div>
  <div class="w-[293px] h-[59px] border-b p-4 gap-[10px]">
    <div class="text-[#4B4B4B] font-medium text-[16px] leading-7">
      Payment history
    </div>
  </div>
  <div class="w-[293px] h-[59px] border-b p-4 gap-[10px]">
    <div class="text-[#4B4B4B] font-medium text-[16px] leading-7">Settings</div>
  </div>
  <div class="w-[293px] h-[59px] border-b p-4 gap-[10px]">
    <div class="text-[#4B4B4B] font-medium text-[16px] leading-7">
      Change Password
    </div>
  </div>
</div>
