<div class="h-[718px] flex flex-row gap-8 ml-24 mt-[66.77px] mb-14">
  <app-sidebar></app-sidebar>
  <div class="h-[718px] flex flex-col">
    <div
      class="h-[410px] gap-8 flex flex-col items-start content-start text-left"
    >
      <div class="text-[25px] leading-9 font-semibold text-Gray/G900">
        Settings
      </div>
      <div class="flex flex-col w-[752px] h-[342px] gap-4">
        <div class="flex flex-row w-[302px] h-[46px] gap-4">
          <div
            class="border-b border-solid border-primary/p300 gap-[100px] pr-4 font-semibold text-[20px] text-primary/p300 leading-[30px] text-center"
          >
            Profile
          </div>
          <div
            class="pr-4 gap-[100px] font-semibold cursor-pointer text-center leading-[30px] text-[20px] text-Gray/G300"
          >
            Change Passwords
          </div>
        </div>
        <div class="w-[752px] h-[280px] flex flex-col gap-8">
          <div class="w-[752px] h-[192px] flex flex-row gap-4">
            <div class="flex flex-col w-[368px] h-[192px] gap-4">
              <div class="flex flex-col w-[368px] h-[88px] gap-2">
                <div
                  class="w-[368px] h-[24px] font-normal text-Gray/G900 leading-6 text-[16px]"
                >
                  User name
                </div>
                <div
                  class="w-[368px] h-[56px] border rounded-lg border-primary/p300 bg-Gray/G50 p-4 gap-[10px]"
                >
                  <input
                    type="text"
                    placeholder="Johnathon"
                    [(ngModel)]="userName"
                    class="font-normal text-[16px] leading-6 text-Gray/G500"
                  />
                </div>
              </div>
              <div class="flex flex-col w-[368px] h-[88px] gap-2">
                <div
                  class="w-[368px] h-[24px] font-normal text-Gray/G900 leading-6 text-[16px]"
                >
                  Phone
                </div>
                <div
                  class="w-[368px] h-[56px] border rounded-lg border-primary/p300 bg-Gray/G50 p-4 gap-[10px]"
                >
                  <input
                    type="text"
                    placeholder="+880125412624"
                    [(ngModel)]="phone"
                    class="font-normal text-[16px] leading-6 text-Gray/G500"
                  />
                </div>
              </div>
            </div>
            <div class="flex flex-col w-[368px] h-[192px] gap-4">
              <div class="flex flex-col w-[368px] h-[88px] gap-2">
                <div
                  class="w-[368px] h-[24px] font-normal text-Gray/G900 leading-6 text-[16px]"
                >
                  Last name
                </div>
                <div
                  class="w-[368px] h-[56px] border rounded-lg border-primary/p300 bg-Gray/G50 p-4 gap-[10px]"
                >
                  <input
                    type="text"
                    placeholder="Smith"
                    [(ngModel)]="lastName"
                    class="font-normal text-[16px] leading-6 text-Gray/G500"
                  />
                </div>
              </div>
              <div class="flex flex-col w-[368px] h-[88px] gap-2">
                <div
                  class="w-[368px] h-[24px] font-normal text-Gray/G900 leading-6 text-[16px]"
                >
                  Email
                </div>
                <div
                  class="w-[368px] h-[56px] border rounded-lg border-primary/p300 bg-Gray/G50 p-4 gap-[10px]"
                >
                  <input
                    type="text"
                    placeholder="johnathonsmith@gmail.com"
                    [(ngModel)]="email"
                    class="font-normal text-[16px] leading-6 text-Gray/G500"
                  />
                </div>
              </div>
            </div>
          </div>
          <button
            (click)="updateProfile()"
            class="w-[174px] h-[56px] rounded-md bg-primary/p300 text-Gray/G50 text-[16px] text-center leading-6 font-medium"
          >
            Update Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
