<div
  class="flex flex-col w-[1440px] text-white gap-12 items-center content-center border-b-0 text-center justify-end bg-Primary/P500 h-[424px]"
>
  <div class="w[10px] h-[281px] flex flex-row py-2">
    <div class="w-[624px] h-[252.13px] flex flex-col gap-y-[16px]">
      <div class="text-[32px] font-bold">Speedo Transfer</div>
      <p class="text-[16px]">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <div class="text-[20px] font-semibold">Contact info</div>
      <div class="text-[16px]">Email:BM00000Speedo Transfer.com</div>
      <div class="text-[16px]">Phone:00000</div>
    </div>
  </div>
  <div
    class="w-[1248px] h-[61px] text-center items-center content-center border-t border-[##CDD6E0]"
  >
    <div class="text-[16px]">All Rights Reserved for Speedo Transfer 2024</div>
  </div>
</div>
