<div
  class="w-[1440px] h-[91.23px] border-b-2 bg-white flex flex-row items-center content-center"
>
  <div
    class="flex w-full h-[71.23px] flex-row items-center text-center justify-between mx-auto px-24"
  >
    <div class="text-[32px] font-semibold">Speedo Transfer</div>
    <div class="flex space-x-4 items-center">
      <div class="hover:text-gray-700 cursor-pointer font-semibold">Home</div>
      <div class="hover:text-gray-700 cursor-pointer font-semibold">
        Money Transfer
      </div>
      <div class="hover:text-gray-700 cursor-pointer font-semibold">
        My Account
      </div>
      <div class="w-[290px] h-[56px] flex flex-row gap-3">
        <button
          class="w-[107px] h-[56px] rounded border border-black bg-white font-semibold hover:bg-gray-100"
        >
          Login
        </button>
        <button
          class="w-[167px] h-[56px] rounded-lg border bg-primary/p300 text-white"
        >
          Register Now
        </button>
      </div>
    </div>
  </div>
</div>
