<div class="h-[718px] flex flex-row gap-8 ml-24 mt-[66.77px] mb-14">
  <app-sidebar />
  <div class="h-[718px] flex flex-col">
    <div
      class="h-[388px] gap-8 flex flex-col justify-evenly items-start content-start text-left"
    >
      <div class="text-[24px] leading-9 font-semibold text-Gray/G900">
        My Profile
      </div>
      <div
        class="w-[376px] h-[96px] gap-2 font-semibold text-[64px] leading[96px] text-Gray/G900 flex flex-row items-center text-center"
      >
        {{ balance ? balance + "$" : "Loading..." }}
        <span class="text-[32px] text-Primary/P400 font-semibold leading-[48px]"
          >Balance</span
        >
      </div>

      <div class="flex flex-row w-[334px] h-[192px] gap-8">
        <div class="flex flex-col w-[92px] h-[192px] gap-8">
          <div
            class="w-[92px] h-[24px] font-medium text-[16px] leading-6 text-Gray/G700"
          >
            First Name :
          </div>
          <div
            class="w-[92px] h-[24px] font-medium text-[16px] leading-6 text-Gray/G700"
          >
            Email :
          </div>
          <div
            class="w-[92px] h-[24px] font-medium text-[16px] leading-6 text-Gray/G700"
          >
            Phone :
          </div>
          <div
            class="w-[92px] h-[24px] font-medium text-[16px] leading-6 text-Gray/G700"
          >
            Gender :
          </div>
        </div>
        <div class="flex flex-col w-[210px] h-[192px] gap-8">
          <div class="font-normal text-[16px] leading-6 text-Gray/G300">
            {{ username }}
          </div>
          <div class="font-normal text-[16px] leading-6 text-Gray/G300">
            {{ email }}
          </div>
          <div class="font-normal text-[16px] leading-6 text-Gray/G300">
            {{ phone }}
          </div>
          <div class="font-normal text-[16px] leading-6 text-Gray/G300">
            {{ gender }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
