<div class="w-[1248px] h-[718px] flex flex-row gap-8 ml-24 mt-[66.77px] mb-14">
  <app-sidebar></app-sidebar>
  <div class="w-[955px] h-[718px] flex flex-col">
    <div
      class="w-[768px] h-[410px] gap-8 flex flex-col items-start content-start text-left"
    >
      <div class="text-[25px] leading-9 font-semibold text-Gray/G900">
        Settings
      </div>
      <div class="flex flex-col w-[768px] h-[238px] gap-4">
        <div class="flex flex-row w-[312px] h-[46px] gap-4">
          <div
            class="gap-[100px] pr-4 cursor-pointer font-semibold text-[20px] leading-[30px] text-center text-Gray/G300"
          >
            Profile
          </div>
          <div
            class="border-b border-solid border-primary/p300 text-primary/p300 pr-4 gap-[100px] font-semibold cursor-pointer text-center leading-[30px] text-[20px]"
          >
            Change Passwords
          </div>
        </div>
        <div class="flex flex-col w-[768px] h-[176px] gap-8">
          <div class="flex flex-row w-[768px] h-[88px] gap-8">
            <div class="flex flex-col w-[368px] h-[88px] gap-4">
              <div
                class="w-[368px] h-[24px] font-normal text-Gray/G900 leading-6 text-[16px]"
              >
                Current Password
              </div>
              <div
                class="w-[368px] h-[56px] border rounded-lg border-primary/p300 bg-Gray/G50 p-4 gap-[10px]"
              >
                <input
                  type="password"
                  placeholder="Type here"
                  [(ngModel)]="currentPassword"
                  class="font-normal text-[16px] leading-6 text-Gray/G500"
                />
              </div>
            </div>
            <div class="flex flex-col w-[368px] h-[88px] gap-4">
              <div
                class="w-[368px] h-[24px] font-normal text-Gray/G900 leading-6 text-[16px]"
              >
                New Password
              </div>
              <div
                class="w-[368px] h-[56px] border rounded-lg border-primary/p300 bg-Gray/G50 p-4 gap-[10px]"
              >
                <input
                  type="password"
                  placeholder="Type here"
                  [(ngModel)]="newPassword"
                  class="font-normal text-[16px] leading-6 text-Gray/G500"
                />
              </div>
            </div>
          </div>
          <button
            (click)="updatePassword()"
            class="w-[174px] h-[56px] rounded-md bg-primary/p300 text-Gray/G50 text-[16px] text-center leading-6 font-medium"
          >
            Update Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
